@import "~src/components/GlobalStyles/GlobalStyles.scss";

.empty--content {
  position: absolute;
  top: 7.5rem;
  right: 6rem;
  box-shadow: 0 1px 3.125rem 0 rgba(0, 0, 0, 0.2);
  border-radius: 2px;
  background-color: var(--white);
  width: 40rem;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 2rem;
  padding: 6rem 0rem;
  visibility: hidden;
  opacity: 1;
  cursor: default;
  @include mobile() {
    position: fixed;
    top: $header-mobile-height;
    left: 0;
    right: 0;
    padding: 0;
    gap: 1rem;
    padding: 1rem 0;
    width: 100%;
  }
  @include tablet() {
    position: fixed;
    top: $header-tablet-height;
    left: 0;
    right: 0;
    padding: 0;
    gap: 1rem;
    padding: 1rem 0;
    width: 100%;
  }
  &::before {
    content: "";
    position: absolute;
    border-bottom: 1rem solid var(--white);
    border-left: 1.4rem solid transparent;
    border-right: 1.4rem solid transparent;
    top: -1rem;
    right: 2rem;
    z-index: 2;
    @include mobile() {
      display: none;
    }
    @include tablet() {
      display: none;
    }
  }
  ˝ &::after {
    content: "";
    position: absolute;
    top: -2rem;
    left: 0;
    width: 40rem;
    height: 2rem;
  }
  img {
    width: 10rem;
    object-fit: cover;
  }
  p {
    color: var(--text-color);
    font-size: 1.4rem;
  }
}
